body {
    background-color: black;
}

#bigA {
    position: absolute;
    background-color: aqua;
    border-radius: 30%;
    transform: rotate(-40deg);
    animation: infinite move linear forwards 1s ;
}

@keyframes move {
    50% {
        transform: rotate(40deg);
    }
}